@charset "UTF-8";
.social__list, .producer__list, .offers__list, .auch-nav, .page-nav__list, .gallery__list, .footer__list, .advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: #FFFFFF;
  color: #1F1F1F;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* Утиліти */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Cormorant, sans-serif;
}

p {
  margin: 0;
}

header {
  margin-bottom: 20px;
}

.section {
  margin-bottom: 80px;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}

.title {
  color: #1F1F1F;
  font-size: 40px;
  font-weight: 700;
}

.title span {
  color: #FF8126;
}

.button {
  display: inline-block;
  min-width: 140px;
  padding: 8px 30px;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #FF8126;
  font-size: 18px;
  font-weight: 500;
}

.centred {
  text-align: center;
}

.advantages__title {
  margin-bottom: 40px;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
}

.advantages__item {
  margin: 15px;
  width: calc((100% - 150px) / 5);
}

.advantages__img {
  width: 48px;
  height: 48px;
  margin-bottom: 20px;
}

.advantages__description {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__item {
  color: #656565;
}

.gallery-title {
  margin-bottom: 40px;
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
}

.page-nav__item:not(:last-child) {
  margin-right: 40px;
}

.page-nav__link {
  color: #1F1F1F;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}

.auch-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.auch-nav__item:not(:last-child) {
  margin-left: 10px;
}

.hero {
  height: 500px;
  max-width: 1280px;
  background-image: url("/image/hero/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  margin-bottom: 5px;
  font-size: 50px;
  font-weight: 700;
}

.hero__text {
  margin-bottom: 50px;
  font-size: 26px;
  font-weight: 300;
}

.learnmore {
  background-color: aqua;
  text-align: center;
}

.learnmore__title {
  margin-bottom: 30px;
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 700;
}

.learnmore__img {
  margin-bottom: 30px;
}

.offers__title {
  margin-bottom: 40px;
}

.offers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
}

.offers__item {
  width: calc((100% - 120px) / 4);
  margin: 15px;
}

.offers__img {
  margin-bottom: 20px;
}

.offers__name {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}

.offers__price {
  padding-bottom: 14px;
  color: #656565;
  font-size: 18px;
  font-weight: 400;
  text-decoration: line-through;
}

.offers__price span {
  color: #FF8126;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

.producer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.producer__title {
  margin-bottom: 20px;
}

.producer__text {
  margin-bottom: 40px;
  font-weight: 500;
}

.producer__list {
  margin-bottom: 30px;
}

.producer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.producer__item:not(:last-child) {
  margin-bottom: 20px;
}

.producer__item::before {
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 22px;
  background-color: #FF8126;
  background-image: url("/image/icons/icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.social__title {
  margin-bottom: 40px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 30px;
}

.work__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__title {
  margin-bottom: 20px;
}

.work__text {
  margin-bottom: 30px;
  font-weight: 500;
}/*# sourceMappingURL=main.css.map */