.advantages__title {
    margin-bottom: 40px;
}
.advantages__list {
    @extend %list;

    display: flex;
    margin: -15px;
}
.advantages__item {
    margin: 15px;
    width: calc((100% - 5 * 30px) / 5);
}
.advantages__img {
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
}
.advantages__description {
    margin-bottom: 10px;

    font-size: 25px;
    font-weight: 700;
}