// .footer {
  
// }
.footer__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
// .footer__nav {
 
// }
.footer__list {
    @extend %list;
}
.footer__item {
    color: $priceColor;
}
// .footer__link {

// }