.learnmore {
    background-color: aqua;
    text-align: center;
}
.learnmore__title {
    margin-bottom: 30px;

    color: $whiteColor;
    font-size: 40px;
    font-weight: 700;
}
.learnmore__img {
    margin-bottom: 30px;
}