.offers__title {
    margin-bottom: 40px;
}
.offers__list {
    @extend %list;

    display: flex;
    margin: -15px;
}
.offers__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
}
.offers__img {
    margin-bottom: 20px;
}
.offers__name {
    margin-bottom: 5px;

    font-size: 18px;
    font-weight: 500;
}
.offers__price {
    padding-bottom: 14px;

    color: $priceColor;
    font-size: 18px;
    font-weight: 400;
    text-decoration: line-through;
}
.offers__price span {
    color: $aсcentColor;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}
