body {
    background-color: $whiteColor;
    color: $primaryTextColor;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
}


/* Утиліти */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: Cormorant, sans-serif;
}
p {
    margin: 0;
}
header {
    margin-bottom: 20px;
}
.section {
    margin-bottom: 80px;
}

.container {
    max-width: 1200px; 
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
}
.title{
    color: $primaryTextColor;
    font-size: 40px;
    font-weight: 700;
}
.title span{
color: $aсcentColor;
}
.button {
    display: inline-block;
    min-width: 140px;
    padding: 8px 30px;
    border-radius: 5px;

    color: $whiteColor;
    background-color: $aсcentColor;
    font-size: 18px;
    font-weight: 500;
}